<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <link rel="icon" type="image/x-icon" href="/icon.png">
    <link th:href="@{style.css}" rel="stylesheet">
    <title>Парсер кредитных отчетов</title>
<body>
<form id="form" method="POST" enctype="multipart/form-data" action="/">
    <a>Тип кредитного отчета определяется автоматически (НБКИ или ОКБ)</a>
    <input type="file" id="file" name="file" accept=application/pdf class=input>
    <label for="file">Выбрать файл</label>
    <input id="copy" class="input">
    <label th:if="${table}" onclick="copyTable()" for="copy" id="copyLabel">Копировать таблицу</label>
</form>

<textarea id="copy-area"></textarea>

<table id=table th:if="${table}">
    <tr>
        <th>ФИО</th>
        <th th:text="${table.fullName} ?: '-'"></th>
    </tr>
    <tr>
        <th>Дата рождения</th>
        <th th:text="${table.dateOfBirth} ?: '-'"></th>
    </tr>
    <tr>
        <th>Место рождения</th>
        <th th:text="${table.placeOfBirth} ?: '-'"></th>
    </tr>
    <tr>
        <td>№</td>
        <td>Наименование кредитора</td>
        <td>ИНН кредитора</td>
        <td>Вид займа</td>
        <td>Уникальный идентификатор договора (сделки)</td>
        <td>Дата оформления</td>
        <td>Дата закрытия</td>
        <td>Валюта</td>
        <td>Сумма займа</td>
        <td>Выплачено</td>
        <td>Задолженность</td>
    </tr>
    <tr th:each="row, iter : ${table.resultArrayList}">
        <td th:text="${iter.index}"></td>
        <td th:text="${row.creditCompany}"></td>
        <td th:text="${row.inn}"></td>
        <td th:text="${row.type}"></td>
        <td th:text="${row.uuid}"></td>
        <td th:text="${row.opened}"></td>
        <td th:text="${row.closed}"></td>
        <td th:text="${row.currency}"></td>
        <td th:text="${row.size}"></td>
        <td th:text="${row.paid}"></td>
        <td th:text="${row.debt}"></td>
    </tr>
</table>
<p th:if="${err}" th:text="${err}" style="color: #F12"></p>
<script type="text/javascript" th:src="@{script.js}"></script>
</body>
</html>